.caixa{
    width: 300px;
    margin: 20px auto;
    padding: 30px;
    text-align: justify;
    border: solid 2px;
}

.caixa-son{
    margin: 20px auto;
    padding: 30px;
    text-align: justify;
    border: solid 2px;
}